html, body {
  font-family: 'Fira Sans', sans-serif;
  height: 100%;
}
.header {
  height:250px;
  color:#fff;
  margin-top:80px;
  background-image:url("images/mild.jpg");
  padding-top:80px;
}
.title{
  margin:auto 0px;
}
.navbar{
  background-color:#fff;
}
.nav li {
  margin:20px 20px;
}
.nav li a {
  color:#4CA2CC;
}
.social-links{
  margin-top:20px;
  text-align:center;
}
.content {
  margin-top:40px;
  padding: 0px 20px 0 0px;
}
.post aside {
  color: #888;
  padding-bottom: 8px;
  border-bottom: 1px solid #aaa;
}
.post {
  margin: 20px 0 20px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:#fff;
  padding:20px;
}
.post a {
  color:#4CA2CC;
  font-size:2rem;
}

